@{
    ViewData["Title"] = "Presentacion";
}
<h1>Listado</h1>
<select id="perfil">
    <option value="0" selected >Seleccione Perfil</option>
    <option value="1">Administrador</option>
    <option value="2">Supervisor</option>
    <option value="3">Contador</option>
    <option value="4">Obrero</option>
    <option value="5">Seguridad</option>
</select>
<select id="empresa">
    <option value="0"selected>Seleccione Empresa</option>
    <option value="1">Los loritos sac</option>
    <option value="2">El rapido S.A</option>
    <option value="3">Orion</option>
</select>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Perfil</th>
      <th scope="col">Empresa</th>
      <th scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>